#home.page_section
  #opening-text
    %p.padding2
      The Industry is a guild built around having fun while promoting a serious and professional atmosphere. The guild is founded on a conglomerate of experienced players, both hardcore and softcore, who have been traveling the MMORPG circuits for years. We pride ourselves about being a large guild with a focus on organization. We have a diverse playerbase that enjoys a mixture of content. We cultivate an environment that is casual friendly while still accomplishing goals.
    %p.padding2
      Here are a few things you should know about us:
      %ul
        %li
          Organization: We have a strong emphasis on preparation and execution within the guild.
        %li
          Environment: This game is not a job, it is meant to be fun. Many hardcore guilds forget this. We make sure to always enjoy ourselves, even when stressful situations arise. We expect everyone, no matter their time commitment, to have a place within the guild.
    %p.padding2
      If you decide you're interested email us WeIndustryNow@gmail.com and we'll put you through a short interview process and move from there.  You can also email us there and we can get you a password for our Teamspeak if you want to hang with us.
    %p.padding2
      Other Guilds: If you're rolling onto Sorrow's Furnace, we're looking to form a WvW Alliance. We have plans to do things like an Alliance-wide Crafting Spreadsheet, In-house Structured PVP practice/tournaments, and advanced WvW strategies. If your guild leadership is interested in collaberating with us on something like this, you should contact us by email at WeIndustryNow@gmail.com.
  .page_saperator

#news.page_section
  #guild-reddit.left.news
    %h1.section-title="Guild Reddit"
    %ul
      - @guild_reddit.each do |n|
        %li
          %a{:href=>n[:url]}= n[:title]
          
  #guild-twitter.left.news

  .page_saperator

#events.page_section
  %h1="Guild Events"
  %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showNav=0&showPrint=0&showTabs=0&showCalendars=0&height=600&wkst=1&bgcolor=%23FFFFFF&src=hmfm88qi2pf834264ie43ink14%40group.calendar.google.com&color=%232F6309&ctz=America%2FLos_Angeles", :style => " border-width:0 ", :width => "960"}
  .page_saperator

#roster.page_section

  .page_saperator

#application.page_section
  /
    %h2 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      %div
        = f.label "Email: *"
        %br/
        = f.email_field :email
      %div
        = f.label "Password: *"
        %br/
        = f.password_field :password
      %div
        = f.label "Password Confirmation: *"
        %br/
        = f.password_field :password_confirmation
      %div
        = f.label "How many years have you been a 'Gamer'?"
        %br/
        = f.text_field :gamer_age
      %div
        = f.label "Do you use Steam / Social Media websites?"
        %br/
        = f.text_field :socialize
      %div.hidden
        = f.label "Are you willing to share your info with your guild mates?"
        %br/
        = f.label "Steam"
        = f.text_field :steam
        %br/
        = f.label "Facebook"
        = f.text_field :facebook
        %br/
        = f.label "Twitter"
        = f.text_field :twitter
      %div
        = f.label "What kind of content do you prefer to play in MMO's?"
        %br/
        = #f.association :groups, :as => :check_boxes
        
      %div= f.submit "Submit Application"

.page_saperator

#gw_news.page_section
  /
    #guild-news.left
    %h1="Guild News"
    #twitter.left.news
      %h1="Twitter"
    #reddit.left.news
      %h1="Reddit"
    .clear

  #game-news.left
    #guild-wars-reddit.left.news
      %h1.section-title="Guild Wars 2 Reddit"
      %ul
        -@guild_wars_reddit[0..9].each do |n|
          %li
            %a{:href=>n[:url]}= n[:title]
    .clear

  #podcasts.left
    %h1.section-title="PodCasts"
    #guild-cast.cast.left
      %a{:href=>@guild_cast[:link]}
        #thumb
      %apan
        ="Updated: #{@guild_cast[:last_update]} #{@guild_cast[:last_update] > 1 ? 'days' : 'day'} ago"
    #wooden-cast.cast.left
      %a{:href=>@wooden[:link]}
        #thumb
      %span
        ="Updated: #{@wooden[:last_update]} #{@wooden[:last_update] > 1 ? 'days' : 'day'} ago"
    .clear
  .clear
  .page_seperator
