#home.page_section
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  = image_tag "light_dark/home_page_text.png", :alt => "Beauty of style and harmony and grace and good rhythm depend on Simplicity...! (Plato)"
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %p.padding2
    ="..."
  .page_saperator

#news.page_section
  #guild-reddit.left.news
    %h1.section-title="Guild Reddit"
    %ul
      - @guild_reddit.each do |n|
        %li
          %a{:href=>n[:url]}= n[:title]
  #guild-twitter.left.news

  .page_saperator

#events.page_section
  %h1="Guild Events"
  %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showNav=0&showPrint=0&showTabs=0&showCalendars=0&height=600&wkst=1&bgcolor=%23FFFFFF&src=hmfm88qi2pf834264ie43ink14%40group.calendar.google.com&color=%232F6309&ctz=America%2FLos_Angeles", :style => " border-width:0 ", :width => "960"}
  .page_saperator

#roster.page_section

  .page_saperator

#application.page_section
  /
    %h2 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      %div
        = f.label "Email: *"
        %br/
        = f.email_field :email
      %div
        = f.label "Password: *"
        %br/
        = f.password_field :password
      %div
        = f.label "Password Confirmation: *"
        %br/
        = f.password_field :password_confirmation
      %div
        = f.label "How many years have you been a 'Gamer'?"
        %br/
        = f.text_field :gamer_age
      %div
        = f.label "Do you use Steam / Social Media websites?"
        %br/
        = f.text_field :socialize
      %div.hidden
        = f.label "Are you willing to share your info with your guild mates?"
        %br/
        = f.label "Steam"
        = f.text_field :steam
        %br/
        = f.label "Facebook"
        = f.text_field :facebook
        %br/
        = f.label "Twitter"
        = f.text_field :twitter
      %div
        = f.label "What kind of content do you prefer to play in MMO's?"
        %br/
        = #f.association :groups, :as => :check_boxes
        
      %div= f.submit "Submit Application"

.page_saperator

#gw_news.page_section
  /
    #guild-news.left
    %h1="Guild News"
    #twitter.left.news
      %h1="Twitter"
    #reddit.left.news
      %h1="Reddit"
    .clear

  #game-news.left
    #guild-wars-reddit.left.news
      %h1.section-title="Guild Wars 2 Reddit"
      %ul
        -@guild_wars_reddit[0..9].each do |n|
          %li
            %a{:href=>n[:url]}= n[:title]
    .clear

  #podcasts.left
    %h1.section-title="PodCasts"
    #guild-cast.cast.left
      %a{:href=>@guild_cast[:link]}
        #thumb
      %apan
        ="Updated: #{@guild_cast[:last_update]} #{@guild_cast[:last_update] > 1 ? 'days' : 'day'} ago"
    #wooden-cast.cast.left
      %a{:href=>@wooden[:link]}
        #thumb
      %span
        ="Updated: #{@wooden[:last_update]} #{@wooden[:last_update] > 1 ? 'days' : 'day'} ago"
    .clear
  .clear
  .page_seperator
