%html
  %head
    %link{:rel=>"shortcut icon", :href=>"/images/favicon.ico", :type=>"image/x-icon"}
    %title You Upset?
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    #header
      #logo
        %pre
          :preserve
               _____            _____     .__                        __          
              /  _  \__  _  ___/ ____\_ __|  |   ____ _____   __ ___/  |_  ______
             /  /_\  \ \/ \/ /\   __\  |  \  |  /    \\__  \ |  |  \   __\/  ___/
            /    |    \     /  |  | |  |  /  |_|   |  \/ __ \|  |  /|  |  \___ \ 
            \____|__  /\/\_/   |__| |____/|____/___|  (____  /____/ |__| /____  >
                    \/                              \/     \/                 \/  
      #top-nav
        %ul
          %li
            = link_to "Guild Turntable", "http://www.turntable.fm/awfulnauts_swtor_guild", :target=>"_blank"
          %li
            = link_to "Guild Reddit", "http://reddit.awfulnauts.com", :target=>"_blank" 
          %li
            = link_to "Guild Crafting List", "https://docs.google.com/spreadsheet/ccc?key=0Am_PtHuFO_BXdFcxZlRnLURMdUZMSUtXdk5BcWo3eWc#gid=0", :target=>"_blank"
        .clear
    #wrap
      #main-body
        = yield
      #footer
        .ads 
